:root {
  --swiper-pagination-bullet-size: 0.1em;
  --card-bg-color: #eee;
  --learn-bg-color: beige;
  --find-game-bg-color: lightblue;
  /* Used so that the bar does not hide any content on the mobile/tablet */
  --bottom-padding-size: 1em;
}

* {
  box-sizing: content-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: fixed;
}
.page,
#root {
  height: 100%;
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.card {
  background-color: var(--card-bg-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.round-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  line-height: 3rem;
  font-size: 2em;
  text-align: center;
}

/* PAGES */

.page.config {
  display: grid;
  grid-template-columns: 1fr 30em;
  justify-items: stretch;

  .main-config {
    overflow: scroll;
    padding: 1em;

    .main-links {
      a:not(:last-child) {
        padding-right: 1em;
        border-right: 1px solid black;
      }
      a:not(:first-child) {
        padding-left: 1em;
      }
    }

    label {
      display: block;
    }

    section {
      margin-top: 1.5em;
      margin-bottom: 0.5em;
    }

    ul {
      margin-top: 0;
    }
  }

  .logs {
    overflow: scroll;
    background-color: var(--card-bg-color);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);

    ul {
      padding: 1em 0;
      margin: 0;
      list-style: none;

      li {
        padding: 0 1em;
      }

      li:nth-child(odd) {
        background-color: #f5f5f5;
      }
    }

    .warn {
      color: chocolate;
    }

    .ok {
      color: green;
    }

    .err {
      color: red;
    }
  }
}

.page.find-game {
  user-select: none;
  touch-action: pan-x pan-y;

  display: grid;
  grid-template-rows: 1fr 1fr 7rem;
  grid-template-columns: 1fr 1fr;

  .play-audio-container {
    grid-row: 3;
    grid-column: 1 / span 2;
    padding-bottom: var(--bottom-padding-size);

    .play-audio {
      margin: 1rem auto;
    }
  }

  @media screen and (orientation: portrait) {
    --card-side: calc(88vmin / 2);
  }
  @media screen and (orientation: landscape) {
    --card-side: calc((90vmin - 7rem) / 2);
  }

  img {
    margin: 1vmin 1.5vmin;
    padding: 1vmin;
    width: var(--card-side);
    height: var(--card-side);

    &.dimed {
      opacity: 0.4;
    }
  }

  .image_0 {
    place-self: end end;
  }
  .image_1 {
    place-self: end start;
  }
  .image_2 {
    place-self: start end;
  }
  .image_3 {
    place-self: start start;
  }

  .wrong {
    content: url('../assets/wrong.svg');
    position: absolute;
    width: var(--card-side);
    margin: 1vmin 1.5vmin;
    padding: 1vmin;
    z-index: 1;
  }

  .correct {
    content: url('../assets/correct.svg');
    position: absolute;
    width: var(--card-side);
    margin: 1vmin 1.5vmin;
    padding: 1vmin;
    z-index: 1;
  }
}

.page.learn.swiper {
  user-select: none;
  touch-action: pan-x pan-y;

  .swiper-slide {
    text-align: center;
    background-color: var(--card-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;

    img {
      width: 70vmin;
      height: 70vmin;
    }

    figcaption {
      font-size: 2em;
    }
  }

  .swiper-pagination {
    padding-bottom: var(--bottom-padding-size);

    .swiper-pagination-bullet {
      font-size: 10rem;
    }
  }
}

.page.menu {
  user-select: none;
  touch-action: pan-x pan-y;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  &.mode-learn {
    background-color: var(--learn-bg-color);
    background-image: url('../assets/learn-background-pattern.svg');
    background-repeat: repeat;
    background-size: 20rem;
  }
  &.mode-find-game {
    background-color: var(--find-game-bg-color);
    background-image: url('../assets/find-game-background-pattern.svg');
    background-repeat: repeat;
    background-size: 20rem;
  }

  .topic {
    width: 10em;
    height: 16.18em;
    margin: 1em;
    padding: 1em;

    img {
      position: relative;
      width: 10em;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  #mode-switch {
    position: fixed;
    top: 2em;
    right: 2em;
  }
}
